#one{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(79, 199, 23);
    height: 3cm;
    font-size: xx-large;
}
#two{
    display: flex;
    justify-content: space-between;
}
.bar{
    background-color:rgb(165, 155, 155);
    height: 15cm;
    width: 350px;
    font-size: xx-large;
}
.new{
    background-color: whitesmoke;
    height: 15cm;
    width: 1000px;
    font-size: xx-large;
}
.side{
    background-color: rgb(165, 155, 155);
    height: 15cm;
    width: 350px;
    font-size: xx-large;
}
#three{
    background-color: rgb(79, 199, 23);
    height: 3cm;
    font-size: xx-large;
}